footer {
    background-color: #141E27;
    width: 100%;
    height: max-content;
    display: flex;
}
div {
    display: block;
}
.container {
    max-width: 1170px;
    margin: auto;
    font-family: montserrat;
}
.logo2 {
    padding: 20px 20px;
    width: 20%;
}
.judul2 {
    color: #EDECEA;
    font-weight: bolder;
    padding-bottom: 10px;
}
li {
    color: #EDECEA;
    list-style: none;
    padding-bottom: 7px;
}
.footer-right {
    float: right;
}
.subs {
    float: left;
    margin-left: 40px;
}
.logo3 {
    margin-right: 4px;
    width: 7%;
}
