footer {
    background-color: #141E27;
    width: 100%;
    height: 135px;
    display: flex;
}
div {
    display: block;
}
.container {
    max-width: 1170px;
    margin: auto;
    font-family: montserrat;
}
.logo2 {
    padding: 20px 20px;
    height: 15%;
    width: 15%;
}
.judul2 {
    color: #EDECEA;
    font-weight: bolder;
    padding-bottom: 10px;
}
li {
    color: #EDECEA;
    list-style: none;
    padding-bottom: 7px;
}
.footer-right {
    float: right;
}
.subs {
    float: left;
}
.logo3 {
    margin-right: 4px;
    width: 7%;
}
* {
    box-sizing: border-box;
}
